._headerAddress {
	text-align:center;
	color: rgb(255, 255, 255);
	padding:5px;
	font-family: -moz-fixed; 
	border: 2px solid;
	width:100%; 
	font-size: 20px; 
	background: none repeat scroll 0px 0px #E29309; 
}
._listview {
	text-align:center;
	color: rgb(255, 255, 255);
	padding:5px;
	font-weight: bold;
	font-family: -moz-fixed; 
	border: 5px solid rgb(55, 96, 146);
}
._tab {
	width:250px; 	
	background: none repeat scroll 0px 0px #E29309;
	font-size: 30px; 
}
._list {
	/*border-color:#266FAF;
	border-color: rgb(55, 96, 146);*/
	margin-left:5px;
	font-size:21px;
	margin-top:3px;
	background-color: rgb(79,129,189);/*#3399ff;*/
	width:105px;
	height:40px;
	float:left;
	padding:0px;
}
._title {
	font-size:45px;
	margin-left:20px;
}
._title-sm{
	font-size:15px;
	margin-left:20px;
	position:fixed;
}
._logoHeader {
	width:100%;	
}
.form-bar-sm img {
    margin-right: 10px;
    width: 180px;
}
._black {
	color: #000;
}
._mapToolBox {
	width: 30%;
	height:460px;
	float:left;
}
._mapTool1 {
	border: 5px solid #000;
	height:230px;	
}
._mapTool2 {	
	border: 5px solid #000;
	height:auto px;
	padding:5px;
}
._mapDataView {
	width: 70%;
	margin-top:20px;
	border: 5px solid #000;
	height:560px;
	float:right;
}
._active {
	color: #000;
	background-color: #EEA236;
}