.quick-access {
	position: absolute;
	left: 35%;
	top: 0px;
	z-index: 999;
	width: 200px;
}
.quick-access,
.quick-access ul,
.quick-access li {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.quick-access li .qa {
	color: #fff;
	cursor: pointer;
	padding: 5px 10px;
	background: #111;
	display: block;
	opacity: 0.3;
}
.quick-access li .qa:hover {
	background: #333;
	opacity: 1;
}

.quick-access ul {
	display: none;
	background: #333;
}
.quick-access li a,
.quick-access li a:link,
.quick-access li a:visited {
	display: block;
	color: #fff;
	padding: 5px 20px;
}
.quick-access li a:hover,
.quick-access li a:active {
	color: #2ea2cc;
	text-decoration: none;
}
.quick-access li:hover > ul {
	display: block;
}



a,
a:link,
a:visited {
	outline: none;
}

body {
	position: relative;
	left: 0px;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	overflow-x: hidden;
	background: #e1e8ed;
/*	padding-bottom: 30px; */
}

body.page-login {
	background: #19458b;
}

body.ua-sidebar {
/*	left: 250px;*/
}

#content {
	padding: 15px 15px 0 15px;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
}
	#content > .container {
		width: 100%;
	}

body.ua-sidebar #content {
	margin-left: 250px;
}





/* Global Classes
------------------------------------------*/

.sb-xs-space { margin-bottom: 20px; }

.glyphicon.red,
.glyphicon.red:link,
.glyphicon.red:visited { color: #e64d4d; }
.glyphicon.red:hover,
.glyphicon.red:active { color: #9f0000; }

.glyphicon.green,
.glyphicon.green:link,
.glyphicon.green:visited { color: #39cc36; }
.glyphicon.green:hover,
.glyphicon.green:active { color: #299200; }

.glyphicon.black,
.glyphicon.black:link,
.glyphicon.black:visited { color: #42454d; }
.glyphicon.black:hover,
.glyphicon.black:active { color: #000; }

/*
.red,
.red:link
.red:visited {
	color: #CF0000;
}

.red:hover,
.red:active {
	color: #A20000;
}
.green,
.green:link
.green:visited {
	color: #00D609;
}

.green:hover,
.green:active {
	color: #00A507;
}*/

.relative {	position: relative; }

.custom-icon {
	width: 16px;
	display: inline-block;
}
.custom-icon::before {
	position: absolute;
	width: 16px;
	height: 16px;
	content: "";
	top: -13px;
	left: 3px;
}
.custom-icon.icon-copy::before {
	background: url(../img/icon-copy.png) no-repeat;
	opacity: 0.5;
}
.custom-icon.icon-copy:hover::before {
	opacity: 1;
}



.label-pr-no label {
	padding-right: 0px;
}


code {
	padding: 2px 4px;
	color: #d14;
	background-color: #f7f7f9;
	border: 1px solid #e1e1e8;
	white-space: nowrap;
}


input.sb-time-size { width: 50px !important; }

.mt-xxs { margin-top: 5px; }
.mt-xs { margin-top: 10px; }
.mt-s { margin-top: 15px; }
.mb-xxs { margin-bottom: 5px; }
.mb-xs { margin-bottom: 10px; }
.mb-s { margin-bottom: 15px; }
.mb-m { margin-bottom: 20px; }



.divider {
	border-top: 1px solid #ccc;
	margin: 10px 0 20px;
}


.col-w-110 { width: 110px; }

.queryBuilderHtml {
	position: relative;
}

img.shadow {
	box-shadow: 0 2px 5px rgba(0,0,0,.1);
	padding: 4px;
	background: #fff;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
}


/* Replaceing Bootstrap default styles with SB
-----------------------------------------------------*/
.panel-sb {
	border-color: #3da0ea;
}
.panel-sb>.panel-heading {
	padding-top: 5px;
	padding-bottom: 5px;
	color: #fff;
	background-color: #3da0ea;
	border-color: #428bca;
}


/* Typography
------------------------------------------*/

/*Local
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	padding: 10px 0 30px 35px;
}

#main-nav,
.sb-box h3,
.content-body h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}
*/

/*Live*/
body {
	font-family: "Museo Sans 500", Arial, Helvetica, sans-serif;
	font-size: 12px;
}

h1 {
	font-family: "Museo Sans 700", Arial, Helvetica, sans-serif;
	font-size: 20px;
	padding: 10px 0 30px 35px;
}

#main-nav,
.sb-box h3,
.content-body h3 {
	font-family: "Museo Sans 500", Arial, Helvetica, sans-serif;
	font-size: 16px;
}













/* Message
-------------------------------------------------*/

#message {
	margin: 15px 0;
	background-color: #fff;
	border-left: 4px solid #7ad03a;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
	padding: 10px 12px;
}
	#message.update {
		border-color: #7ad03a;
	}
	#message.error {
		border-color: #dd3d36;
		display: block;
	}
	#message p, #message p {
		margin: 5px 0;
		padding: 2px;
		color: #666;
	}


/* Main Navigation
------------------------------------------*/

#main-nav {
	background-color: #19458b;
	position: fixed;
	left: -250px;
	top: 0px;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	width: 250px;
	height: 100%;
	z-index: 1000;
}
	#main-nav .logo {
		margin: 40px 0;
		width: 250px;
		height: 40px;
		display: block;
		background: url(../img/logo-admin.png) no-repeat;
	}

	body.ua-sidebar #main-nav { left: 0px; }

.main-nav-toggle {
	border-top: 5px solid #b1bcc7;
	height: 30px;
	width: 32px;
	display: block;
	position: relative;
	top: 28px;
	left: 0px;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
}
	.main-nav-toggle::before {
		content: "";
		background: #b1bcc7;
		height: 5px;
		width: 32px;
		position: absolute;
		top: 5px;
	}
	.main-nav-toggle::after {
		content: "";
		background: #b1bcc7;
		height: 5px;
		width: 32px;
		position: absolute;
		top: 15px;
	}
.main-nav-toggle:hover { border-color: #91a1b1; }
.main-nav-toggle:hover::before,
.main-nav-toggle:hover::after { background: #91a1b1; }

.main-nav-toggle.left {
	left: 265px;
	top: 50px;
}
	body.ua-sidebar .main-nav-toggle { }
	body.ua-sidebar .main-nav-toggle.left { left: 265px; }


#main-nav .nav a {
	text-decoration: none;
	color: #fff;
	display: block;
	padding: 20px 20px 20px 70px;
	transition: all 0.5s ease;
}
	#main-nav .nav a:hover { background: #2254a2; }
	#main-nav .nav a.active { background: #142a4e; }

	#main-nav .nav a .icon {
		background: url(../img/icon-dashboard.png) no-repeat;
		width: 27px;
		height: 27px;
		position: absolute;
		left: 30px;
	}
		#main-nav .nav a .icon-reports { background: url(../img/icon-reports.png) no-repeat; }
		#main-nav .nav a .icon-wallboards { background: url(../img/icon-wallboards.png) no-repeat; }
		#main-nav .nav a .icon-alerts { background: url(../img/icon-alerts.png) no-repeat; }
		#main-nav .nav a .icon-agents { background: url(../img/icon-agents.png) no-repeat; }
		#main-nav .nav a .icon-transcriptions { background: url(../img/icon-transcriptions.png) no-repeat; }
		#main-nav .nav a .icon-administration { background: url(../img/icon-administration.png) no-repeat; }
		#main-nav .nav a .icon-teams { background: url(../img/icon-teams.png) no-repeat; }








/* Header
------------------------------------------*/

#header {
	background: #f8f9fa;
	top: -96px;
	width: 100%;
	z-index: 1;
	position: fixed;
	transition: all 0.3s ease;
}
.header-toggle {
	background: url(../img/icon-header-toggle.png) no-repeat;
	width: 40px;
	height: 25px;
	position: absolute;
	bottom: -25px;
	right: 50%;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
}
	.header-toggle.header-show {
		transform:rotate(180deg);
		-ms-transform:rotate(180deg); /* IE 9 */
		-webkit-transform:rotate(180deg); /* Opera, Chrome, and Safari */
		box-shadow: 0px -1px 3px rgba(0,0,0,0.3);
	}
body.header-show { padding-top: 96px; }
body.header-show #header { top: 0px; }


.user-info { text-align: right; }
	.user-info .dropdown { float: right; }
	.user-info .dropdown .btn { background: transparent; }

.user-info .btn:active, .user-info .btn.active { box-shadow: none; }
.user-info .btn:focus, .user-info .btn:active:focus, .user-info .btn.active:focus { outline: none; }
#header .top {
	text-align: right;
	/*padding-top: 10px;
	height: 44px;*/
	padding-top: 5px; /*Reducing extra space*/
	height: 30px; /*Reducing extra space*/
	border-bottom: 1px solid #bec6d4;
}
	#header .top .links {
		text-transform: uppercase;
		padding-right: 28px;
	}
		#header .top .links a:link,
		#header .top .links a:visited {
			font-size: 12px;
			color: #333;
		}

#header .user {
	height: 66px;
	padding-top: 10px;
	border-bottom: 1px solid #bec6d4;
}

#header .user-info {
	position: relative;
}
#header .user-info .thumb {
	border-radius: 23px;
}
	#header .user-info .icon-arrow-down {
		background: url(../img/icon-arrow-down.png) no-repeat;
		width: 12px;
		height: 8px;
		position: absolute;
		top: 17px;
		right: 0px;
	}






/* Contents
------------------------------------------*/

.edit,
.edit:link,
.edit:visited {
	color: #42454d;
}
.edit:hover,
.edit:active {
	color: #000;
}

.delete,
.delete:link,
.delete:visited {
	color: #e64d4d;
}
.delete:hover,
.delete:active {
	color: #d00000;
}



.row-space {
	margin-bottom: 0px;
}



/* Table
------------------------------------------*/

/*table tr:nth-child(odd) {
	background: #ecf0f6;
}
table tr:nth-child(even) {
	background: #f5f7fb;
}
table tr:nth-child(1) {
	background: #fff;
}
table tr:nth-child(1) {

}

.table-custom {
	padding-bottom: 100px;
	background: #fff;
}
.table-custom table tr th,
.table-custom table tr td {
	border: 0px;
}
.table-custom table tr th {
	height: 60px;
	border-bottom: 1px solid #bec6d4;
	position: relative;
}
.table-custom table tr {
}
.table-custom table tr th::after {
	content: "";
	border-bottom: 1px solid #fbfcfd;
	height: 1px;
	width: 100%;
	position: absolute;
	bottom: -2px;
	left: 0px;
}
.table-custom table tr:nth-child(2) td {
}*/


.btn-blue {
	margin: 20px 0;
	position: relative;
	right: -15px;
	float: right;
	color: #fff;
	padding: 12px 20px;
	background: #2195e7;
	border-radius: 3px;
	border-top: 1px solid #bbd7ec;
	box-shadow: 0px 3px 0px rgba(17,115,185,0.8);
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
}
.btn-blue:hover {
	color: #fcfcfc;
	text-decoration: none;
	background: #2a9ff2;
}
.btn-blue .glyphicon {
	margin-right: 20px;
	top: 2px;
}







/* Page content header and body general styles
-------------------------------------------------------------*/

.content-header {
	/*padding: 40px 0 20px;*/
	padding: 5px 0 10px; /*Reducing extra space*/
}
/* heading and right side button */
	.content-header h1 {
		margin: 0px;
		/*padding: 0px 0 0 35px;*/
		padding: 0px 0 0 15px; /* Reducing extra spacing */
		text-transform: capitalize;
	}

	.content-header .sb-btn {
		font-size: 14px;
		float: right;
		position: relative;
		top: -10px;
	}
	.content-header .sb-btn + .sb-btn {
		margin-right: 10px;
	}

/* heading after contents need extra space */
.content-body + .content-header {
	margin-top: 30px;
}


/* full width white background container */
.content-body {
	padding-top: 15px;
	padding-bottom: 0px;
	min-height: 00px;
	background: #fff;
	border-radius: 5px;
}
	/* Blue color heading */
	.content-body h3 {
		text-transform: capitalize;
		font-weight: normal;
		color: #3fadf6;
		/*margin: 25px 0 30px;
		padding: 0 0 20px;*/
		margin: 0px 0 20px;/* Reducing extra spacing */
		padding: 0 0 10px;/* Reducing extra spacing */
		border-bottom: 1px solid #adb8d5;
	}





/* Page Login
-------------------------------------------------*/
.alert.error {
	display: block;
}
.login-wrap {
	width: 350px;
	margin: 0 auto;
}

.login-wrap .logo {
	display: block;
	background: url(../img/logo.png) no-repeat;
	width: 341px;
	height: 77px;
	margin: 80px 0;
}
.login-wrap .alert {
	margin-bottom: 0px;
	position: relative;
	z-index: 10;
	top: 5px;
	padding-bottom: 20px;
}

.login-box {
	color: #fff;
}

.login-box .form-group {
	position: relative;
}

.login-box .icon {
	position: absolute;
	right: 10px;
	top: 8px;
	width: 20px;
	height: 20px;
}
.login-box .icon-username {
	background: url(../img/icon-username.png) no-repeat;
}
.login-box .icon-password {
	background: url(../img/icon-password.png) no-repeat;
}

.login-box .inner {
	padding: 20px 45px;
	background: #142a4e;
	position: relative;
	z-index: 20;
	border-radius: 5px;
}

.login-box .forgot-password {
	float: right;
	color: #fff;
}

.login-box .checkbox {
	font-size: 11px;
}
.login-box .remember-me-check {
	position: relative;
	top: -3px;
}

.login-box .btn {
	color: #000;
	font-size: 24px;
	width: 100%;
	background: #2694C8;
	border-bottom: 3px solid #278e66;
	margin-top: 20px;
}
	.login-box .btn:focus { outline: none; }

.login-box .sb-btn-create-password {
	color: #333;
	background-color: #2694C8;
	border-bottom-color: #27618E;
}
.login-box .sb-btn-forgot-password {
	color: #3a362e;
	background-color: #ebb650;
	border-bottom-color: #ca8706;
}
.login-box .sb-btn-sign-in {
	color: #225937;
	background-color: #26c889;
	border-bottom-color: #278e66;
}

.login-box .alert {
	background: #73839c;
	text-transform: uppercase;
}
	.login-box .alert .error-message {
		position: relative;
		padding: 0 0 0 45px;
	}
	.login-box .alert .icon-incorrect {
		background: url(../img/icon-incorrect.png) no-repeat;
		width: 25px;
		height: 24px;
		position: absolute;
		left: 0px;
		top: -3px;
	}


/* Page Dashboard
-------------------------------------------------*/

.sb-box {
	background: #fff;
	border-radius: 5px;
	padding: 35px;
}

.sb-box h3 {
	color: #3fadf6;
	margin: 0px 0 30px;
	padding: 0 0 20px;
	border-bottom: 1px solid #e1e8ed;
}

.funcs li {
	margin-bottom: 10px !important;
}


/* SB Modal
-------------------------------------------------*/
.modal.sb .modal-dialog {
	width: 450px;
}
.modal.sb.m .modal-dialog {
	width: 600px;
}

.modal.sb .modal-content {
	border: none;
	box-shadow: none;
}
.modal.sb .modal-header {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	color: #fff;
	background: #3da0ea;
	padding: 5px;
	position: relative;
}
	.modal.sb .sb-close {
		float: right;
		background: url(../img/icon-close.png) no-repeat;
		width: 32px;
		height: 32px;
		float: right;
		cursor: pointer;
		border: 0;
		right: -15px;
		top: -15px;
		position: absolute;
	}
		.modal.sb .sb-close:hover {
			opacity: .7;
			filter: alpha(opacity=70);
		}

.modal.sb .modal-body {
	padding: 15px;
}

.modal.sb .modal-footer {
	margin-top: 0px;
	padding: 15px;
}

/* No Header Footer */
.modal.sb.nohf .modal-dialog {
	width: 98%;
	margin-top: 10px;
	margin-bottom: 10px;
}
	.modal.sb.nohf .modal-dialog .modal-body {
		padding: 10px 10px 5px;
	}
	.modal.sb.nohf .sb-close {
		position: absolute;
		top: -10px;
		right: -10px;
		z-index: 10;
	}








/* SB Form
-------------------------------------------------*/

label {
	font-weight: normal;
    display: inline-block;
    cursor: pointer;
    position: relative;
}



/* Custom Styling Radio and Checkboxes */
.cf input[type="checkbox"] {
    display:none;
}

.cf input[type="checkbox"] + label {
/*    color:#f2f2f2;
    font-family:Arial, sans-serif;
    font-size:14px;*/
}

.cf input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(../img/check_radio_sheet.png) left top no-repeat;
    cursor:pointer;
}

.cf input[type="checkbox"]:checked + label span {
    background:url(../img/check_radio_sheet.png) -19px top no-repeat;
}

.cf input[type="radio"] {
    display:none;
}

.cf input[type="radio"] + label {
/*    color:#f2f2f2;
    font-family:Arial, sans-serif;
    font-size:14px;*/
}

.cf input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(../img/check_radio_sheet.png) -38px top no-repeat;
    cursor:pointer;
}

.cf input[type="radio"]:checked + label span {
    background:url(../img/check_radio_sheet.png) -57px top no-repeat;
}

/* End Custom Styling Radio and Checkboxes */



.sb-control,
.sb-textarea {
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	border: 1px solid #adb8d5;
	border-radius: 3px;
}
	.sb-control:focus,
	.sb-control:textarea {
		outline: none;
		border: 1px solid #7382a8;
	}
.chosen-container-multi .chosen-choices {
	border: 1px solid #adb8d5;
	border-radius: 3px;
	background-color: #fff;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
}
	.chosen-container-active .chosen-choices {
		box-shadow: none;
		border: 1px solid #7382a8;
	}

.sb-control  {
	height: 34px;
}

.sb-btn {
	font-size: 14px;
	line-height: 1.82857143;
	display: inline-block;
	background-image: none;
	border: none;
	vertical-align: middle;
	cursor: pointer;
	margin-bottom: 0;
	font-weight: bold;
	text-align: center;
	white-space: nowrap;
	border-radius: 3px;
	padding: 2px 5px;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	text-decoration: none;
}
	.sb-btn + .sb-btn { margin-left: 10px; }

.sb-btn:focus {
	border: 0px;
	outline: 0px;
}
.sb-btn:hover,
.sb-btn:active {
	color: #fff;
	text-decoration: none;
}

.sb-btn-blue {
	color: #fff;
	background: #2195e7;
	box-shadow: 0px 3px 0px rgba(17,115,185,0.8);
}
.sb-btn-blue:hover {
	background-color: #2b9ff1;
}

.sb-btn-green {
	color: #fff;
	background: #4dd29e;
	box-shadow: 0px 3px 0px rgba(60,168,126,0.8);
}
	.sb-btn-green:hover {
		background-color: #2fbb85;
		box-shadow: 0px 3px 0px rgba(54,152,114,1);
	}
.sb-btn-delete {
	color: #fff;
	background: #e74c3c;
	box-shadow: 0px 3px 0px rgba(183,51,37,1);
}
	.sb-btn-delete:hover {
		background-color: #d74031;
		box-shadow: 0px 3px 0px rgba(145,28,15,1);
	}

.sb-btn-white {
	position: relative;
	top: 1px;
	padding-top: 9px;
	color: #333;
	background: #fff;
	border: 1px solid #999;
}
.sb-btn-white:focus {
	border: 1px solid #999;
}
.sb-btn-white:hover,
.sb-btn-white:active {
	border-color: #666;
	color: #666;
	text-decoration: none;
}


.form-horizontal.sb-form label {
	text-align: left;
	font-weight: normal;
}

.form-inline .sb-control {
	display: inline-block;
	width: auto;
	vertical-align: middle;
}
input.error {
    border: 1px solid #f00;
}
input:focus,
select:focus {
	border: 1px solid #666;
	outline: none;
}






/* chosen library */
.chosen-container {
	width: 100% !important;
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
	height: auto;
}
.chosen-container-multi .chosen-choices {
	padding: 5px;
	background: #fff;
}
.chosen-container-multi .chosen-choices li.search-choice {
	border: 1px solid #4b94c4;
	background: #3fadf6;
	margin-left: 10px;
	padding: 10px 45px 10px 15px;
	color: #fff;
	box-shadow: none;
	border-radius: 0px;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
	background: url(../img/icon-close-tag.png) no-repeat;
	height: 21px;
	top: 6px;
	right: 7px;
	width: 21px;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
	background-position: 0px 0px;
	opacity: 0.8;
}



/* Data Table library */
.dataTables_wrapper .dataTable {
	margin-top: 10px;
	margin-bottom: 10px !important;
}
.dataTables_wrapper .pagination {
	margin-top: 0px;
}
.dataTables_wrapper label {
	font-weight: normal;
}
table th,
table td {
	font-size: 12px;
}



/* Table Shout Burst */
.table-sb {
	border-collapse: separate;
	width: 100%;
	margin-bottom: 20px;
}
	.table-sb th,
	.table-sb td {
		padding: 1px;
		
	}
	.table-sb th {
		font-size: 13px;
		text-align: center;
	}
	.table-sb td {
		border: none;
		border-left: 1px solid #e8e8e8;
		border-top: 1px solid #e8e8e8;
		padding: 1px;
       text-align:center;
	}
	.table-sb td:last-child {
		border-right: 1px solid #e8e8e8;
	}

		.table-sb .agent-name {
			background-color:#f5f5f5;
		}
			.table-sb .agent-name h6 {
				font-size: 21px;
				text-align: center;
			}
		.table-sb .light-blue {
			background-color:#19458b;
			color: #fff;
		}
			.table-sb .light-blue td {
				font-size: 13px;
				border-top: 0px;
				border-right: 1px solid #123a78;
				border-left: 1px solid #2d5ba5;
			}
		.table-sb .dark-blue {
			background-color:#0c1e3b;
			color: #fff;
		}
		.table-sb .dark-blue-title {
			background-color:#503600;
			color: #fff;
		}
			.table-sb .dark-blue td,
			.table-sb .dark-blue th {
				font-size: 13px;
				border-top: 0px;
				border-right: 1px solid #06152f;
				border-left: 1px solid #2b446d;
			}



/* Table 2 Shout Burst for all datas */
.table {
	border-collapse: separate;
	width: 100%;
	margin-bottom: 20px;
	border: 0px;
}
	.table thead tr th,
	.table thead tr.header td {
		background-color: #19458b !important;
		color: #fff;
		border-bottom-width: 0px;
		border-top: 0px;
		border-right: 1px solid #3664ad;
		border-left: 1px solid #042c6b;
		text-align: left !important;
		white-space: nowrap;
	}
	.table tbody tr th,
	.table tbody tr td {
		padding: 10px;
		white-space: nowrap;
	}
	.table tbody tr th {
		font-size: 13px;
		text-align: center;
	}
	.table tbody tr td {
		border: 0px;
		border-left: 1px solid #e8e8e8;
		border-bottom: 1px solid #e8e8e8;
		background-color: #fff !important;
		padding: 10px;
	}
	.table tbody tr td:last-child {
		border-right: 1px solid #e8e8e8;
	}


/* Transcribe Page
-------------------------------------*/
/*.row-space { padding-bottom: 20px; }*/ /*Reducing extra space*/
.page-transcribe .cp-container {
    height: 60px;
    width: 60px;
	padding: 0px;
	background: none;
}
.page-transcribe .cp-controls {
	padding: 0px;
}
	.page-transcribe .cp-controls li a {
		position: relative;
		display: block;
		width: 64px;
		height: 64px;
		text-indent: -9999px;
		z-index: 1;
		cursor: pointer;
	}
.page-transcribe .cp-circle-control { display: none; }
.page-transcribe .cp-buffer-holder, .cp-progress-holder { display: none !important; }

.page-transcribe .cp-controls .cp-play {
	background: url("../img/aqua-play-icon.png") no-repeat;
}
.page-transcribe .cp-controls .cp-play:hover {
	background: url("../img/aqua-play-icon.png");
	opacity: 0.8;
}
	.page-transcribe .cp-controls .cp-pause {
		background: url("../img/aqua-pause-icon.png") no-repeat;
	}
	.page-transcribe .cp-controls .cp-pause:hover {
		background: url("../img/aqua-pause-icon.png");
		opacity: 0.8;
	}








/* Reports Page
-------------------------------------*/
.sb-control.sb-color-picker /* Re-styling HTML5 Color Picker */
{
	padding: 0px;
	width: 40px;
	border: 0px;
}

/* Data Control */

.data-control li {
	background-color: #142a4e;
}
.data-control .general {
	background-color: #142a4e;
}
.data-control .score {
	background-color: #2254a2;
}
.data-control .detail {
	background-color: #209700;
}

#report_content .dragdrop-wrap {
	margin-bottom: 20px;
}
#report_content .dragdrop {
	border: 1px solid #adb8d5;
	min-height: 530px;
	margin: 0px;
	padding: 10px;
	position: relative;
}

#report_content .ddsmall {
	min-height: 150px;
}

.col-sm-12 span {
		/*text-transform: uppercase; */
		font-weight: bold;
		color: #3fadf6;
		/*margin: 25px 0 30px;
		padding: 0 0 20px;*/
		margin-top: 10px;
		display:block;
}
	#report_content .ui-sortable li {
		color: #fff;
		cursor: pointer;
		margin: 0 10px 10px 0;
		padding: 8px 15px;
		list-style: none;
		float: left;
		width: 30%;
	}
	#report_content .ui-sortable li:nth-child(3n) {
	margin-right: 0px;
	}

	#report_content li.ui-sortable-helper {
		border: 1px dotted #333 !important;
		color: #333 !important;
		background: #fbfbfb !important;
		height: auto !important;
		z-index: 99999;
	}
.report-preview {
	font-size: 15px;
	min-height: 130px;
}
	.report-preview .col-field {
			text-align: right;
		color: #999;
		paddi	ng-bottom: 10px;
	}
		.report-pre	view .col-data 	{
		font-weight: bold;
		color: #666;
	}

.datePicker{
	background: white url(../images/calendar.gif) right no-repeat;
	padding-right: 17px;
}
#ajaxBusy {
	display : none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .1);
 -webkit-transition: all .5s ease;
	z-index: 1000;
}
#spinner {
	position: fixed;
	width: 328px;
	height: 150px;
	top: 40%;
	left: 50%;
	margin-top: -50px;
	margin-left: -101px;
	text-align:center;
	-webkit-transition: all 1000s linear;
}
.sb-date-picker {
	position: relative;
}
	.sb-date-picker span.ui-datepicker-trigger {
		position: absolute;
		top: 9px;
		right: 22px;
	}

.report-filter-icon-add-row {
	font-size: 25px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2)
}
.report-filter-icon-remove-row {
	position: absolute;
	right: 50px;
	font-size: 25px;
	top: 3px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2)
}



/* Team
-----------------------------------------------------*/
.tag-store {
	border: 1px solid #ccc;
	margin-bottom: 20px;
}
	.store-header {
		color: #fff;
		background: #3da0ea;
		padding: 3px 20px;
	}
	.store-header.dark-blue {
		background: #19458b;
	}
	.store-header.darker-blue {
		background: #142a4e;
	}
	.store-body {
		padding: 15px 15px 0;
	}

	.tag-store h6 {
		font-size: 19px;
		text-align: center;
	}

.teams {
	position: relative;
	margin: 0px;
	padding: 0px;

}

.teams .team {
	border-radius: 7px;
	box-shadow: 0 1px 3px rgba(0,0,0, 0.3);
	background: #3fadf6;
	color: #fff;
	display: inline-block;
	list-style: none;
	line-height: 13px;
	cursor: default;
	position: relative;
	margin: 0 15px 15px 0;
}
	.teams .team-href {
		display: inline-block;
		padding: 10px 10px;
	}

.team a:link,
.team a:visited {
	color: #fff;
}
.team a:active,
.team a:hover {
	color: #eee;
	text-decoration: none;
}

.teams .delete,
.teams .selected {
	background: url(../img/icon-close-tag.png) no-repeat;
	background-size: 15px;
	height: 15px;
	top: -5px;
	right: -5px;
	width: 15px;
	position: absolute;
}

.teams .selected {
	background: url(../img/icon-selected-tag.png) no-repeat;
	display: none;
}
.team.active .selected {
	display: block;
}

.teams.dragdrop {
    margin: 0;
    min-height: 116px;
    position: relative;
}






/* Wallboard
-----------------------------------------------------*/

	.wallboard-title .action {
		font-size: 20px;
		position: relative;
		top: 5px;
		left: 10px;
	}

	.wallboard-title label {
		text-align: center !important;
		border: 1px solid #ccc;
		background-color: #eee;
		padding: 6px;
		display: block;
	}
	.wallboard-title.active label {
		background-color: #142a4e;
		color: #fff;
	}
	.wallboard-title input[type=text] {
		width: auto;
		display: inline-block;
		text-decoration: none
	}


.text-center .score {
	background-color: #2254a2;
}




/* User
-----------------------------------------------------*/

/* Chart Box for Dash
-----------------------------------------------------*/
.chartbox {
	height: 280px;
	overflow: hidden;
	padding: 0px !important
}

@media all and (min-height: 1025px) {
	.chartbox {
		height: 280px;
	}

}
.music_btn {
	width:25px;
	height: 25px;
}
.music_btn_pause {
	width:25px;
	height: 25px;
}
