body{
	font: 15px arial;
	margin: 0; padding: 0;
	height: 100%;
	width: 100%;/*1440px;*/
	background-color: #ffffff;
	margin: 0 auto;
}

.content-wrap {
    width: 1107px;
}

.clear{
	clear: both;
}

.alignleft {
	float: left;
        position: relative;
        margin-left: 15px;
}

.alignright {
	float: right;
}

.top_links{
    font-size: 15px;
    height: 15px;
    margin-bottom: 0;
    margin-top: 5px;
    padding: 0;
}

.top_links li:first-child{
	padding-left:8px;
	
}

.top_links li{
	padding-left:30px;
}

li{
	display: inline;
	list-style-type: none;
}

a{
	color: white;
	text-decoration: none;	
}

a:hover{ color: #3abfe0; }

#participants a{
	color: black;
}

#participants a:hover{
	color: #0a8fb0;
}

.bluish{
	color: #0a8fb0;
}

.bluish_b{
	color: #0a8fb0;
	font-size: 22px;
}

.bold{
	font-weight:bold;
}

#all_content{
        float: left;
        width: 1436px;
	margin: 0 auto;
}

#header_content{
	height: 570px;
	background-image: url('../images/header_img.png');
	background-repeat:no-repeat;
 	background-position: top;
	margin: 0 auto;
}

#header_inner{
	width: 982px;
	margin-left: 200px;
}

#header_inner *{
	/*margin: 0 auto;*/
}

#main_content{
	width: 982px;
	margin-left: 200px;;
}

.top_links *{
	font-weight: bold;	
}

#logos *{
	display: inline;
	margin-top: 10px;
}

#quote{
   float:left;
   position: relative;
   padding-top: 30px;
   padding-left: 10px;
}

.leftquotesign {
    float: left;
    position: relative;
    margin-left: 15px;
    padding-left: 10px;
}

.rightquotesign {
    float: right;
    position: relative;
    padding: 0;
}


#quote_text{
        float: left;
        position: relative;
	width: 755px;
	font-size: 16px;
	margin-left: 15px;
}

#quote_text a{
	color: black;
}

#quote_text a:hover{
	color: #0a8fb0;
}

#quote_text .main-text{
    color: #676767;
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
}

.quote_signature{
	font-weight: bold;
	color: #0a8fb0;
}

#quote_signature {
    float: left;
    position: relative;
    margin: 0;
    margin-top: 10px;
    margin-left: 50%;
    color: #676767;
}

#partners *{
	font-weight: bold;
	font-size: 22px;
	color: #0a8fb0;
	padding-left: 5px;
	margin-left: 7px;
}

img{
	border: 0;
}

img.less_opacity {   			
   opacity: 0.4;
   filter: alpha(opacity=40);
   zoom: 1;  /* needed to trigger "hasLayout" in IE if no width or height is set */ 
}

img.less_opacity:hover {   			
   opacity: 1.0;
   filter: alpha(opacity=100);
   zoom: 1;  /* needed to trigger "hasLayout" in IE if no width or height is set */ 
}

#participants{
	width: 982px;
	background-image: url('../images/links_bg.png');
	background-size: 100% 100%;
	font-weight: bold;
	float:left;
	margin-bottom: 50px;
}


#participants *{
	padding-left: 10px;
	padding-right: 10px;
}


#participants li{
	display: block;
	font-size: 15px;	
}

#partners {
    float: left;
    position: relative;
    margin-bottom: 15px;
    margin-top: 15px;
}

.last-social {
    margin-right:15px;
}
